  <% include partials/_head %>
  <% include partials/_header %>

  <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase" style="color:#fff;margin-bottom:0!important">USER LINKS</h2>
            <h3 class="section-subheading text-muted" style="margin-bottom:36px!important">All the short url's created by the User.</h3>
          </div>
        </div>

        <div class="row">
          <% for ( url in urls){ %>
          <div class="col-md-4 col-sm-6 portfolio-item" >

            <div class="portfolio-caption">
              <h3 class="text-center" style="border-bottom: 2px solid #FDD048;"><a href="/u/<%= url %>" target="_blank"><%= url %></a></h3>
              <p class="text-muted text-center my-text" style="font-size:18px; margin-bottom:4px!important" ><span class="new_link" style="font-size:12px !important;">Link: </span><%= urls[url].longURL %></p>

              <p class="text-muted text-center my-text" style="font-size:12px;color:#ccc!important" ><span class="new_link" style="font-size:12px !important;">Date created: </span><%= urls[url].date %></p>

                <div class="row">

                   <div class="col-md-3 text-center" style="max-width:40% !important">
                    <form id="contactForm" name="sentMessage" action="/urls/<%= url %>" >
                       <button id="sendMessageButton" class="btn btn-primary text-uppercase" type="submit"><i class="fa fa-pencil" aria-hidden="true"></i> Update</button>
                    </form>
                  </div>


                <div class="col-md-3 col-center-block text-center">
                  <form action="/urls/<%= url %>?_method=DELETE" method="post">
                    <button id="sendMessageButton" class="btn btn-secondary text-uppercase" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                  </form>
                </div>

              </div>

            </div>


          </div>
        <%  } %>
        </div>
      </div>
    </section>



  <% include partials/_footer %>